@import url('https://fonts.googleapis.com/css?family=Montserrat:600,800,700,500,300,400');

@font-face {
                          font-family: "ButlerStencil-Medium";
                          src: url('../fonts/Butler_Medium_Stencil.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ButlerStencil-Black";
                          src: url('../fonts/Butler_Black_Stencil.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ButlerStencil-Bold";
                          src: url('../fonts/Butler_Bold_Stencil.otf') format("opentype");
                        }
                        
.sccr1 {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 6861px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter44 {
  opacity             : 0;
  transform           : translate(0, -25px);
  display             : block;
  -webkit-animation   : anima-animate-enter44-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter44-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter44-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter44-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay  : 1.5s;
  animation-delay     : 1.5s;
}
@-webkit-keyframes anima-animate-enter44-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter44-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter44-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter44-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter45 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter45-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter45-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter45-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter45-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter45-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter45-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter45-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter45-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter46 {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter46-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter46-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter46-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter46-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter46-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter46-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter46-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter46-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter47 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter47-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter47-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter47-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter47-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter47-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter47-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter47-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter47-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter48 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter48-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter48-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter48-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter48-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter48-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter48-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter48-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter48-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter49 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter49-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter49-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter49-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter49-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter49-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter49-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter49-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter49-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter50 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter50-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter50-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter50-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter50-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay  : 0.5s;
  animation-delay     : 0.5s;
}
@-webkit-keyframes anima-animate-enter50-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter50-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter50-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter50-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter51 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter51-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter51-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter51-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter51-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter51-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter51-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter51-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter51-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter52 {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter52-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter52-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter52-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter52-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay  : 1.5s;
  animation-delay     : 1.5s;
}
@-webkit-keyframes anima-animate-enter52-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter52-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter52-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter52-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter53 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter53-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter53-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter53-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter53-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter53-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter53-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter53-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter53-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter54 {
  opacity             : 0;
  transform           : translate(0, -25px);
  display             : block;
  -webkit-animation   : anima-animate-enter54-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter54-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter54-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter54-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.699999988079s;
  -moz-animation-delay: 0.699999988079s;
  -o-animation-delay  : 0.699999988079s;
  animation-delay     : 0.699999988079s;
}
@-webkit-keyframes anima-animate-enter54-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter54-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter54-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter54-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, -25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter55 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter55-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter55-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter55-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter55-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter55-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter55-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter55-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter55-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter56 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter56-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter56-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter56-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter56-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter56-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter56-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter56-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter56-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.sccr1 .a1collectdatabyw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5748px;
  height              : auto;
  width               : 348px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(243, 182, 27, 1.0);
  text-align          : right;
  letter-spacing      : -0.02px;
  line-height         : 31.0px;
}
.sccr1 .a1collectdatabyw .span1 {
  
}
.sccr1 .a1collectdatabyw .span2 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : italic;
  letter-spacing      : -0.02px;
}
.sccr1 .a1collectdatabyw .span3 {
  letter-spacing      : -0.02px;
}
.sccr1 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 503px;
  width               : 1934px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group4 .soccermockup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 496px;
  width               : 1929px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group4 .rectangle3 {
  background-color    : rgba(13, 12, 12, 1.0);
  top                 : 0px;
  height              : 503px;
  width               : 1926px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.22;
}
.sccr1 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 328px;
  height              : 123px;
  width               : 895px;
  position            : absolute;
  margin              : 0;
  left                : 360px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group .footballdatavisual {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 32.0px;
}
.sccr1 .group .secretbehindtreble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(243, 182, 27, 1.0);
  text-align          : left;
  letter-spacing      : -0.05px;
  line-height         : 68.0px;
}
.sccr1 .group .secretbehindtreble .span1 {
  
}
.sccr1 .group .secretbehindtreble .span2 {
  color               : rgba(240, 188, 214, 1.0);
}
.sccr1 .group .secretbehindtreble .span3 {
  color               : rgba(15, 113, 178, 1.0);
}
.sccr1 .group .secretbehindtreble .span4 {
  color               : rgba(240, 188, 214, 1.0);
}
.sccr1 .group .secretbehindtreble .span5 {
  color               : rgba(62, 153, 69, 1.0);
}
.sccr1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  right               : calc(0.00% + 396px);
  top                 : 391px;
  height              : 51px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 547px;
  height              : 272px;
  width               : 1175px;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group3 .projectinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  letter-spacing      : -0.02px;
  line-height         : 24.0px;
}
.sccr1 .group3 .category {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 22.0px;
}
.sccr1 .group3 .datavisualization {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .duartion {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 22.0px;
}
.sccr1 .group3 .a20181201122 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .team {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 22.0px;
}
.sccr1 .group3 .junseongparksiwoo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 117px;
  height              : auto;
  width               : 234px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .myrole {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 22.0px;
}
.sccr1 .group3 .projectmanagerdat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .usedtools {
  background-color    : rgba(255,255,255,0.0);
  top                 : 229px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 22.0px;
}
.sccr1 .group3 .htmlcssjavascript {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 405px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  letter-spacing      : -0.02px;
  line-height         : 24.0px;
}
.sccr1 .group3 .thisdatavisualizat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 408px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .thisdatavisualizat .span1 {
  
}
.sccr1 .group3 .thisdatavisualizat .span2 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .thisdatavisualizat .span3 {
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .thisdatavisualizat .span4 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .thisdatavisualizat .span5 {
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .challenge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 812px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  letter-spacing      : -0.02px;
  line-height         : 24.0px;
}
.sccr1 .group3 .currentlythereare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 817px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 23.0px;
}
.sccr1 .group3 .currentlythereare .span1 {
  
}
.sccr1 .group3 .currentlythereare .span2 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .currentlythereare .span3 {
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .currentlythereare .span4 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  letter-spacing      : -0.01px;
}
.sccr1 .group3 .currentlythereare .span5 {
  letter-spacing      : -0.01px;
}
.sccr1 .a3statistics {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3007px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 357px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.03px;
  line-height         : 33.0px;
}
.sccr1 .a4process {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5404px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 357px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.03px;
  line-height         : 33.0px;
}
.sccr1 .soccermockup2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2209px;
  height              : 603px;
  width               : 1317px;
  position            : absolute;
  margin              : 0;
  left                : 283px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2691px;
  height              : 188px;
  width               : 398px;
  position            : absolute;
  margin              : 0;
  left                : 695px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group7 .a1chooseeithertre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 121px;
  height              : auto;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  letter-spacing      : -0.02px;
  line-height         : 32.0px;
}
.sccr1 .group7 .a1chooseeithertre .span1 {
  
}
.sccr1 .group7 .a1chooseeithertre .span2 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
}
.sccr1 .group7 .path10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 115px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 366px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group7 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 360px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2696px;
  height              : 184px;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 1175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group8 .a2viewdatavisuali {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : auto;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 32.0px;
}
.sccr1 .group8 .a2viewdatavisuali .span1 {
  
}
.sccr1 .group8 .a2viewdatavisuali .span2 {
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
}
.sccr1 .group8 .path10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 112px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group8 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .rectangle7 {
  background-color    : rgba(243, 182, 27, 1.0);
  top                 : 1728px;
  height              : 194px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .whatmakesfootball {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1768px;
  height              : auto;
  width               : 1170px;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ButlerStencil-Medium", Helvetica, Arial, serif;
  font-size           : 41.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.04px;
  line-height         : 51.0px;
}
.sccr1 .whatmakesfootball .span1 {
  
}
.sccr1 .whatmakesfootball .span2 {
  color               : rgba(62, 153, 69, 1.0);
}
.sccr1 .whatmakesfootball .span3 {
  
}
.sccr1 .whatmakesfootball .span4 {
  color               : rgba(15, 113, 178, 1.0);
}
.sccr1 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2010px;
  height              : 156px;
  width               : 1135px;
  position            : absolute;
  margin              : 0;
  left                : 357px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group6 .a2websitefeatures {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.03px;
  line-height         : 33.0px;
}
.sccr1 .group6 .trebleisachievedw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : 1105px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ButlerStencil-Black", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(243, 182, 27, 1.0);
  text-align          : center;
  letter-spacing      : -0.03px;
  line-height         : 25.0px;
}
.sccr1 .group6 .trebleisachievedw .span1 {
  line-height         : 40.0px;
}
.sccr1 .group6 .trebleisachievedw .span2 {
  font-family         : "ButlerStencil-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(55, 57, 56, 1.0);
  line-height         : 40.0px;
}
.sccr1 .group6 .trebleisachievedw .span3 {
  font-size           : 30.0px;
  color               : rgba(62, 153, 69, 1.0);
  line-height         : 40.0px;
}
.sccr1 .group6 .trebleisachievedw .span4 {
  font-family         : "ButlerStencil-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(55, 57, 56, 1.0);
  line-height         : 40.0px;
}
.sccr1 .group6 .trebleisachievedw .span5 {
  font-family         : "ButlerStencil-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(55, 57, 56, 1.0);
  line-height         : 40.0px;
}
.sccr1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5658px;
  height              : 601px;
  width               : 461px;
  position            : absolute;
  margin              : 0;
  left                : 580px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 912px;
  height              : 778px;
  width               : 1168px;
  position            : absolute;
  margin              : 0;
  left                : 357px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .group5 .okr0ro1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 623px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.5s ease-in-out;
}
.sccr1 .group5 .okr0ro1:hover {
  transform           : scale(1.04);
}
.sccr1 .group5 .clickthecomputera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 730px;
  height              : auto;
  width               : 1170px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(62, 153, 69, 1.0);
  text-align          : center;
  letter-spacing      : -0.02px;
  line-height         : 26.0px;
}
.sccr1 .group5 .a1results {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.03px;
  line-height         : 33.0px;
}
.sccr1 .userasset1103 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3126px;
  height              : 663px;
  width               : 795px;
  position            : absolute;
  margin              : 0;
  left                : 544px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .userasset11138 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3948px;
  height              : 627px;
  width               : 521px;
  position            : absolute;
  margin              : 0;
  left                : 681px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .userasset11238 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5136px;
  height              : 174px;
  width               : 1155px;
  position            : absolute;
  margin              : 0;
  left                : 364px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .userasset11338 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4717px;
  height              : 297px;
  width               : 1025px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .managerbasicstatis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3058px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  letter-spacing      : -0.02px;
  line-height         : 29.0px;
}
.sccr1 .managertacticstati {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3896px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 367px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 29.0px;
}
.sccr1 .statisticsonoffon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4648px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 367px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 29.0px;
}
.sccr1 .statisticsonsubsti {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5068px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 367px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : left;
  letter-spacing      : -0.02px;
  line-height         : 29.0px;
}
.sccr1 .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5728px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 631px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.sccr1 .soccermockup4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5333px;
  height              : 972px;
  width               : 1375px;
  position            : absolute;
  margin              : 0;
  left                : 656px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}